//  ----- NAO COPIAR NADA DESSE BLOCO ----- \\
$gray-darker: lighten(#222, 13.5%); // #222
$gray-dark: lighten(#222, 20%);   // #333
$gray: lighten(#222, 33.5%); // #555
$gray-light: lighten(#222, 60%);   // #999
$gray-lighter: lighten(#222, 93.5%); // #eee

$brand-primary: #DA251C;
$mst-green: darkgreen;
$mst-red: #961913;
$mst-light-gray: #e3e2e2;
$mst-medium-gray: #A3A3AB;
$mst-dark-gray: #555;
$body-bg: white;

$link-hover-color: lighten($mst-green, 5%);
$link-color: $mst-green;

$text-color: $gray-dark;
$font-size-base: 16px;

$font-family-base: 'Helvetica', Arial, sans-serif;

$line-height-base: 1.428571429;

$padding-mobile: 5%;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1090px;
$screen-big: 1400px;

/* breakpoints */

$desktop: new-breakpoint(min-width $screen-sm);
$tablet: new-breakpoint(min-width $screen-sm);
$mobile: new-breakpoint(max-width $screen-sm);

$home_screen_big: 65%;
$home_screen_medium: 85%;
$home_screen_small: 100%;

$border: 1px solid #ddd;
$border-flat: 2px dotted #999;

@charset "UTF-8";
$golden:           1.618;

$column: modular-scale(3, 1em, $golden) !default;


$gutter: modular-scale(1, 1em, $golden) !default;


$grid-columns: 12 !default;

$max-width: 1200px !default;


$border-box-sizing: true !default;


$default-feature: min-width; // Default @media feature for the breakpoint() mixin


$default-layout-direction: LTR !default;


@mixin media($query: $feature $value $columns, $total-columns: $grid-columns) {
  @if length($query) == 1 {
    @media screen and ($default-feature: nth($query, 1)) {
      $default-grid-columns: $grid-columns;
      $grid-columns: $total-columns !global;
      @content;
      $grid-columns: $default-grid-columns !global;
    }
  } @else {
    $loop-to: length($query);
    $media-query: "screen and ";
    $default-grid-columns: $grid-columns;
    $grid-columns: $total-columns !global;

    @if is-not(is-even(length($query))) {
      $grid-columns: nth($query, $loop-to) !global;
      $loop-to: $loop-to - 1;
    }

    $i: 1;
    @while $i <= $loop-to {
      $media-query: $media-query + "(" + nth($query, $i) + ": " + nth($query, $i + 1) + ") ";

      @if ($i + 1) != $loop-to {
        $media-query: $media-query + "and ";
      }

      $i: $i + 2;
    }

    @media #{$media-query} {
      @content;
      $grid-columns: $default-grid-columns !global;
    }
  }
}

//  ----- FIM DO BLOCO QUE NAO PODE COPIAR -----\\

// @import "../_sass/variables";
// @import "../_sass/_includes/mixins";

@font-face {
  font-family: SemTerrinhaFonte;
  src: url(/assets/fonts/Letters\ for\ Learners.ttf);
}

*{
  box-sizing: border-box;
}

.sem-terrinha{
  background-color: #FFFFFF;
  margin: 0;
  font-family: SemTerrinhaFonte;
  font-size: 1.7em;
  // overflow: hidden;    
}

.main-picture{
  display: flex;
  flex-direction: column;
}
 
.main-picture .especial-criancas__capa {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;  
  background-image: url(/assets/img/sem-terrinha/ceu.png);
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: cover;
}

.kids{
  width: 50%;
  height: 50%;
}
.nuvem, .sol, .pipa, .crianca-bandeira {
  width: 20vw;
}

.content{
  max-width: 600px;
  margin: 0 auto;
}


.description {
  width: 100vw;
  height: 100vh;
  color: #555;
  font-weight: 300;
  padding: 10px;
  font-size: 1.3em;
  display: flex;
  align-items: center;
}

.youtube-playlist {
  background-image: url("//farm1.staticflickr.com/895/42072540545_2761b4df11_b.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px; 
  }

.album-de-fotos-kids {
  background-image: url("//farm1.staticflickr.com/895/42072540545_2761b4df11_b.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 15px; 
}

.cards{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px 0;
 

  .escrito{
    display: flex;
    align-items: center;
    flex-direction: column; 
  }
  .imagem-apoio{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 100vw;
    overflow: hidden;
  }
}

 .header-title{
   font-size: 2.7em;
   margin: 0;
   color: #555;
   text-transform: uppercase;
   border-bottom: 1px solid #aeaeae;
 }


////////////////////////////////////////////////////////////////








// .capapai{
//   height: 100%;
//   flex: 1 0 30%;
//   display: flex;
// }



// .imagem-paragrafos{
//   flex-basis: 60%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

//  .main-picture .descricao {
//   display: flex;
//   max-width: 50%;
//   letter-spacing: 3px;
//   line-height: 2;
//   padding: 0 25px;
//   font-size: 15px;
//   text-align: justify;
// }


// .title{
//   width: 100vw;
//   display: flex;
//   justify-content: center;
//   align-content: center;
//   flex-direction: column;
//   align-items: center;
// }

// .lateral-img{
//   width: 100%;
//   max-width: 200px; 
// }

// .imagem-chamada{
//   width: 80%;
// }


// }
// figcaption {
//   max-width: 700px; 
//   font-style: italic;
//   margin: 1%;
// }
